services:
  icecast:
    build:
      context: ./icecast
    container_name: ets2-icecast
    environment:
      - ICECAST_SOURCE_PASSWORD=${ICECAST_SOURCE_PASSWORD:-hackme}
      - ICECAST_ADMIN_PASSWORD=${ICECAST_ADMIN_PASSWORD:-hackme}
      - ICECAST_PASSWORD=${ICECAST_PASSWORD:-hackme}
    ports:
      - "24015:9090"
    restart: unless-stopped

  liquidsoap:
    build:
      context: ./liquidsoap
    container_name: ets2-liquidsoap
    user: root
    depends_on:
      - icecast
    env_file: .env
    volumes:
      - ./data:/data
    restart: unless-stopped

  bot:
    build:
      context: ./scripts
    container_name: ets2-bot
    depends_on:
      - liquidsoap
    volumes:
      - ./data:/data
    env_file: .env
    ports:
      - "24016:8080"
    restart: unless-stopped
